<script>

    $(document).ready(function () {
    {% if allowedit %}
            document.getElementById("oadf").addEventListener("click", function () {
                g3.Action('{{ adddeviceroute.window }}');
            });
    {% endif %}
    {% for projectdevice in projectdevices %}
            document.getElementById("d1-{{ projectdevice.iddevice }}").addEventListener("click", function () {
                selectedDeviceData("{{ projectdevice.iddevice }}");
            });
    {% endfor %}

            loaddevices();
        });

        async function loaddevices() {
            let response = await fetch("{{ listdevicesroute }}");
            $("#devicesrender").html(await response.text());
            $("#loading").hide();
        }

        function selectedDeviceData(iddevice) {
            let apppath = '{{ updatedeviceroute.window }}';
            let replacedpath = apppath.replace("[iddevice]", iddevice);

            g3.Action(replacedpath);
            highlightselectedDevice(iddevice);
        }

        var previuosiddeviceselected_t = 0;
        function highlightselectedDevice(iddevice)
        {
            if (previuosiddeviceselected_t > 0) {
                let eleFound = document.getElementById("d1-" + previuosiddeviceselected_t);
                if (eleFound) {
                    $("#d1-" + previuosiddeviceselected_t).css("background-color", "");

                }
            }
            let eleFound = document.getElementById("d1-" + iddevice);
            if (eleFound) {
                $("#d1-" + iddevice).css("background-color", "lavender");
            }
            previuosiddeviceselected_t = iddevice;
        }

</script>

{% if allowedit %}
    <p>
    <div id="oadf" class="linkBtnMenu taskselect imgAdd" ><label class="marginleft">{{ adddeviceroute.title }}</label></div>
</p>
{% endif %}

<div id="loading" class="loading floatRight"></div>

<div id="devicesrender" ></div>
